
#AddNewTask {
  animation: slideRightToLeft 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#CloseAddNewTask {
  animation: slideLeftToRight 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes slideRightToLeft {
  0% {
    transform: translateX(50px);
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 60%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeftToRight {
  0% {
    width: 50%;
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(50px);
    width: 0%;
    opacity: 0;
  }
}